.container {
    width: 100%
}

@media (min-width: 576px) {
    .container {
        max-width:576px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:992px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1200px
    }
}

@media (min-width: 1400px) {
    .container {
        max-width:1400px
    }
}

.form-input,.form-textarea,.form-select,.form-multiselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

.form-input:focus,.form-textarea:focus,.form-select:focus,.form-multiselect:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #2563eb
}

.form-input::-moz-placeholder,.form-textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

.form-input::placeholder,.form-textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

.form-input::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

.form-input::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align: inherit
}

.form-input::-webkit-datetime-edit {
    display: inline-flex
}

.form-input::-webkit-datetime-edit,.form-input::-webkit-datetime-edit-year-field,.form-input::-webkit-datetime-edit-month-field,.form-input::-webkit-datetime-edit-day-field,.form-input::-webkit-datetime-edit-hour-field,.form-input::-webkit-datetime-edit-minute-field,.form-input::-webkit-datetime-edit-second-field,.form-input::-webkit-datetime-edit-millisecond-field,.form-input::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

.form-select:where([size]:not([size="1"])) {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: .75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset
}

.text-heading {
    --tw-text-opacity: 1;
    color: rgba(var(--lqd-heading-color-rgb),var(--tw-text-opacity))
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.pointer-events-none {
    pointer-events: none
}

.pointer-events-auto {
    pointer-events: auto
}

.visible {
    visibility: visible
}

.\!invisible {
    visibility: hidden!important
}

.invisible {
    visibility: hidden
}

.collapse {
    visibility: collapse
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.-inset-1\/3 {
    inset: -33.333333%
}

.-inset-3 {
    inset: -.75rem
}

.inset-0 {
    inset: 0px
}

.-inset-y-1\/2 {
    top: -50%;
    bottom: -50%
}

.-inset-y-\[0\.6rem\] {
    top: -.6rem;
    bottom: -.6rem
}

.inset-x-0 {
    left: 0px;
    right: 0px
}

.\!bottom-7 {
    bottom: 1.75rem!important
}

.\!end-0 {
    inset-inline-end: 0px!important
}

.\!end-3 {
    inset-inline-end: .75rem!important
}

.\!end-5 {
    inset-inline-end: 1.25rem!important
}

.\!end-7 {
    inset-inline-end: 1.75rem!important
}

.\!end-\[12px\] {
    inset-inline-end: 12px!important
}

.\!end-\[20px\] {
    inset-inline-end: 20px!important
}

.\!right-\[-15px\] {
    right: -15px!important
}

.\!right-auto {
    right: auto!important
}

.\!start-0 {
    inset-inline-start: 0px!important
}

.\!start-\[--navbar-width\] {
    inset-inline-start: var(--navbar-width)!important
}

.\!top-4 {
    top: 1rem!important
}

.-bottom-\[2px\] {
    bottom: -2px
}

.-end-2 {
    inset-inline-end: -.5rem
}

.-end-2\.5 {
    inset-inline-end: -.625rem
}

.-end-2\/3 {
    inset-inline-end: -66.666667%
}

.-end-4 {
    inset-inline-end: -1rem
}

.-end-5 {
    inset-inline-end: -1.25rem
}

.-end-8 {
    inset-inline-end: -2rem
}

.-start-1\/4 {
    inset-inline-start: -25%
}

.-start-5 {
    inset-inline-start: -1.25rem
}

.-start-\[1\.375rem\] {
    inset-inline-start: -1.375rem
}

.-top-1\/4 {
    top: -25%
}

.-top-2 {
    top: -.5rem
}

.-top-4 {
    top: -1rem
}

.-top-44 {
    top: -11rem
}

.-top-px {
    top: -1px
}

.bottom-0 {
    bottom: 0px
}

.bottom-10 {
    bottom: 2.5rem
}

.bottom-12 {
    bottom: 3rem
}

.bottom-16 {
    bottom: 4rem
}

.bottom-20 {
    bottom: 5rem
}

.bottom-6 {
    bottom: 1.5rem
}

.bottom-8 {
    bottom: 2rem
}

.bottom-\[1px\] {
    bottom: 1px
}

.bottom-\[20px\] {
    bottom: 20px
}

.bottom-\[calc\(100\%\+0\.75rem\)\] {
    bottom: calc(100% + .75rem)
}

.bottom-full {
    bottom: 100%
}

.end-0 {
    inset-inline-end: 0px
}

.end-10 {
    inset-inline-end: 2.5rem
}

.end-12 {
    inset-inline-end: 3rem
}

.end-2 {
    inset-inline-end: .5rem
}

.end-28 {
    inset-inline-end: 7rem
}

.end-3 {
    inset-inline-end: .75rem
}

.end-4 {
    inset-inline-end: 1rem
}

.end-7 {
    inset-inline-end: 1.75rem
}

.end-8 {
    inset-inline-end: 2rem
}

.end-\[1rem\] {
    inset-inline-end: 1rem
}

.end-\[20px\] {
    inset-inline-end: 20px
}

.left-0 {
    left: 0px
}

.left-1\/2 {
    left: 50%
}

.left-2 {
    left: .5rem
}

.left-\[--navbar-width\] {
    left: var(--navbar-width)
}

.left-\[-400px\] {
    left: -400px
}

.left-\[20px\] {
    left: 20px
}

.right-0 {
    right: 0px
}

.right-1 {
    right: .25rem
}

.right-1\.5 {
    right: .375rem
}

.right-2 {
    right: .5rem
}

.right-2\.5 {
    right: .625rem
}

.right-3 {
    right: .75rem
}

.right-4 {
    right: 1rem
}

.right-\[10px\] {
    right: 10px
}

.right-\[20px\] {
    right: 20px
}

.right-\[2px\] {
    right: 2px
}

.start-0 {
    inset-inline-start: 0px
}

.start-1\/2 {
    inset-inline-start: 50%
}

.start-2 {
    inset-inline-start: .5rem
}

.start-7 {
    inset-inline-start: 1.75rem
}

.start-8 {
    inset-inline-start: 2rem
}

.start-\[calc\(100\%\+0\.35rem\)\] {
    inset-inline-start: calc(100% + .35rem)
}

.top-0 {
    top: 0px
}

.top-1 {
    top: .25rem
}

.top-1\.5 {
    top: .375rem
}

.top-1\/2 {
    top: 50%
}

.top-12 {
    top: 3rem
}

.top-16 {
    top: 4rem
}

.top-2 {
    top: .5rem
}

.top-2\.5 {
    top: .625rem
}

.top-20 {
    top: 5rem
}

.top-24 {
    top: 6rem
}

.top-28 {
    top: 7rem
}

.top-3 {
    top: .75rem
}

.top-4 {
    top: 1rem
}

.top-40 {
    top: 10rem
}

.top-7 {
    top: 1.75rem
}

.top-\[--editor-tb-h\] {
    top: var(--editor-tb-h)
}

.top-\[10px\] {
    top: 10px
}

.top-\[19px\] {
    top: 19px
}

.top-\[2px\] {
    top: 2px
}

.top-\[8px\] {
    top: 8px
}

.top-\[calc\(100\%\+17px\)\] {
    top: calc(100% + 17px)
}

.top-\[calc\(100\%\+1rem\)\] {
    top: calc(100% + 1rem)
}

.top-\[calc\(50\%-5px\)\] {
    top: calc(50% - 5px)
}

.top-\[calc\(var\(--lqd-header-height\)\/2\)\] {
    top: calc(var(--lqd-header-height) / 2)
}

.top-full {
    top: 100%
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.z-\[2\] {
    z-index: 2
}

.z-\[999\] {
    z-index: 999
}

.z-\[99\] {
    z-index: 99
}

.col-auto {
    grid-column: auto
}

.col-start-1 {
    grid-column-start: 1
}

.row-start-1 {
    grid-row-start: 1
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.m-0 {
    margin: 0
}

.m-1 {
    margin: .25rem
}

.m-2 {
    margin: .5rem
}

.m-3 {
    margin: .75rem
}

.m-4 {
    margin: 1rem
}

.m-auto {
    margin: auto
}

.-mx-10 {
    margin-left: -2.5rem;
    margin-right: -2.5rem
}

.-mx-5 {
    margin-left: -1.25rem;
    margin-right: -1.25rem
}

.-mx-8 {
    margin-left: -2rem;
    margin-right: -2rem
}

.-mx-\[1rem\] {
    margin-left: -1rem;
    margin-right: -1rem
}

.-mx-px {
    margin-left: -1px;
    margin-right: -1px
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem
}

.mx-\[10px\] {
    margin-left: 10px;
    margin-right: 10px
}

.mx-\[15px\] {
    margin-left: 15px;
    margin-right: 15px
}

.mx-\[20px\] {
    margin-left: 20px;
    margin-right: 20px
}

.mx-\[25px\] {
    margin-left: 25px;
    margin-right: 25px
}

.mx-\[40px\] {
    margin-left: 40px;
    margin-right: 40px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-\[10px\] {
    margin-top: 10px;
    margin-bottom: 10px
}

.my-\[20px\] {
    margin-top: 20px;
    margin-bottom: 20px
}

.my-\[5px\] {
    margin-top: 5px;
    margin-bottom: 5px
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto
}

.\!mb-1 {
    margin-bottom: .25rem!important
}

.\!mb-2 {
    margin-bottom: .5rem!important
}

.\!mb-3 {
    margin-bottom: .75rem!important
}

.\!mb-4 {
    margin-bottom: 1rem!important
}

.\!mb-5 {
    margin-bottom: 1.25rem!important
}

.\!mb-6 {
    margin-bottom: 1.5rem!important
}

.\!me-1 {
    margin-inline-end:.25rem!important}

.\!me-2 {
    margin-inline-end:.5rem!important}

.\!ms-1 {
    margin-inline-start:.25rem!important}

.\!ms-2 {
    margin-inline-start:.5rem!important}

.\!ms-auto {
    margin-inline-start:auto!important}

.\!mt-0 {
    margin-top: 0!important
}

.\!mt-2 {
    margin-top: .5rem!important
}

.\!mt-3 {
    margin-top: .75rem!important
}

.\!mt-5 {
    margin-top: 1.25rem!important
}

.-mb-4,.-mb-\[1rem\] {
    margin-bottom: -1rem
}

.-mb-px {
    margin-bottom: -1px
}

.-ml-px {
    margin-left: -1px
}

.-mr-1 {
    margin-right: -.25rem
}

.-mt-1 {
    margin-top: -.25rem
}

.-mt-3 {
    margin-top: -.75rem
}

.-mt-6 {
    margin-top: -1.5rem
}

.mb-0 {
    margin-bottom: 0
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-1\.5 {
    margin-bottom: .375rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-11 {
    margin-bottom: 2.75rem
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-14 {
    margin-bottom: 3.5rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-20 {
    margin-bottom: 5rem
}

.mb-28 {
    margin-bottom: 7rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-32 {
    margin-bottom: 8rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-7 {
    margin-bottom: 1.75rem
}

.mb-8 {
    margin-bottom: 2rem
}

.mb-9 {
    margin-bottom: 2.25rem
}

.mb-\[0\.3em\] {
    margin-bottom: .3em
}

.mb-\[0\.45em\] {
    margin-bottom: .45em
}

.mb-\[0\.625em\] {
    margin-bottom: .625em
}

.mb-\[0\.65rem\] {
    margin-bottom: .65rem
}

.mb-\[0\.75em\] {
    margin-bottom: .75em
}

.mb-\[0\.85em\] {
    margin-bottom: .85em
}

.mb-\[10px\] {
    margin-bottom: 10px
}

.mb-\[15px\] {
    margin-bottom: 15px
}

.mb-\[18px\] {
    margin-bottom: 18px
}

.mb-\[1em\] {
    margin-bottom: 1em
}

.mb-\[1rem\] {
    margin-bottom: 1rem
}

.mb-\[20px\] {
    margin-bottom: 20px
}

.mb-\[22px\] {
    margin-bottom: 22px
}

.mb-\[25px\] {
    margin-bottom: 25px
}

.mb-\[2px\] {
    margin-bottom: 2px
}

.mb-\[7px\] {
    margin-bottom: 7px
}

.me-1 {
    margin-inline-end:.25rem}

.me-2 {
    margin-inline-end:.5rem}

.me-3 {
    margin-inline-end:.75rem}

.me-4 {
    margin-inline-end:1rem}

.me-\[1em\] {
    margin-inline-end:1em}

.me-auto {
    margin-inline-end:auto}

.ml-0 {
    margin-left: 0
}

.ml-1 {
    margin-left: .25rem
}

.ml-2 {
    margin-left: .5rem
}

.ml-3 {
    margin-left: .75rem
}

.ml-4 {
    margin-left: 1rem
}

.ml-auto {
    margin-left: auto
}

.mr-1 {
    margin-right: .25rem
}

.mr-2 {
    margin-right: .5rem
}

.mr-3 {
    margin-right: .75rem
}

.mr-4 {
    margin-right: 1rem
}

.mr-\[100px\] {
    margin-right: 100px
}

.mr-\[30px\] {
    margin-right: 30px
}

.mr-\[50px\] {
    margin-right: 50px
}

.ms-0 {
    margin-inline-start:0px}

.ms-1 {
    margin-inline-start:.25rem}

.ms-2 {
    margin-inline-start:.5rem}

.ms-\[24px\] {
    margin-inline-start:24px}

.ms-auto {
    margin-inline-start:auto}

.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: .25rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-3 {
    margin-top: .75rem
}

.mt-32 {
    margin-top: 8rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-9 {
    margin-top: 2.25rem
}

.mt-\[0\.5rem\] {
    margin-top: .5rem
}

.mt-\[1\.5rem\] {
    margin-top: 1.5rem
}

.mt-\[10px\] {
    margin-top: 10px
}

.mt-\[15px\] {
    margin-top: 15px
}

.mt-\[25px\] {
    margin-top: 25px
}

.mt-\[30px\] {
    margin-top: 30px
}

.mt-\[35px\] {
    margin-top: 35px
}

.mt-\[3px\] {
    margin-top: 3px
}

.mt-\[40px\] {
    margin-top: 40px
}

.mt-auto {
    margin-top: auto
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.\!flex {
    display: flex!important
}

.flex {
    display: flex
}

.\!inline-flex {
    display: inline-flex!important
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.table-row {
    display: table-row
}

.grid {
    display: grid
}

.inline-grid {
    display: inline-grid
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1 / 1
}

.\!h-1 {
    height: .25rem!important
}

.\!h-3 {
    height: .75rem!important
}

.\!h-4 {
    height: 1rem!important
}

.\!h-5 {
    height: 1.25rem!important
}

.\!h-6 {
    height: 1.5rem!important
}

.\!h-7 {
    height: 1.75rem!important
}

.\!h-\[9px\] {
    height: 9px!important
}

.h-0 {
    height: 0px
}

.h-1 {
    height: .25rem
}

.h-10 {
    height: 2.5rem
}

.h-11 {
    height: 2.75rem
}

.h-12 {
    height: 3rem
}

.h-14 {
    height: 3.5rem
}

.h-16 {
    height: 4rem
}

.h-2 {
    height: .5rem
}

.h-3 {
    height: .75rem
}

.h-3\.5 {
    height: .875rem
}

.h-4 {
    height: 1rem
}

.h-40 {
    height: 10rem
}

.h-5 {
    height: 1.25rem
}

.h-6 {
    height: 1.5rem
}

.h-60 {
    height: 15rem
}

.h-64 {
    height: 16rem
}

.h-7 {
    height: 1.75rem
}

.h-8 {
    height: 2rem
}

.h-9 {
    height: 2.25rem
}

.h-96 {
    height: 24rem
}

.h-\[--editor-tb-h\] {
    height: var(--editor-tb-h)
}

.h-\[100vh\] {
    height: 100vh
}

.h-\[128px\] {
    height: 128px
}

.h-\[148px\] {
    height: 148px
}

.h-\[150\%\] {
    height: 150%
}

.h-\[150vh\] {
    height: 150vh
}

.h-\[17px\] {
    height: 17px
}

.h-\[185px\] {
    height: 185px
}

.h-\[19px\] {
    height: 19px
}

.h-\[1px\] {
    height: 1px
}

.h-\[20px\] {
    height: 20px
}

.h-\[21px\] {
    height: 21px
}

.h-\[22px\] {
    height: 22px
}

.h-\[230px\] {
    height: 230px
}

.h-\[24px\] {
    height: 24px
}

.h-\[250px\] {
    height: 250px
}

.h-\[25px\] {
    height: 25px
}

.h-\[26px\] {
    height: 26px
}

.h-\[28px\] {
    height: 28px
}

.h-\[2px\] {
    height: 2px
}

.h-\[30px\] {
    height: 30px
}

.h-\[34px\] {
    height: 34px
}

.h-\[36px\] {
    height: 36px
}

.h-\[40px\] {
    height: 40px
}

.h-\[43px\] {
    height: 43px
}

.h-\[50px\] {
    height: 50px
}

.h-\[52px\] {
    height: 52px
}

.h-\[53p\] {
    height: 53p
}

.h-\[53px\] {
    height: 53px
}

.h-\[60px\] {
    height: 60px
}

.h-\[71px\] {
    height: 71px
}

.h-\[75vh\] {
    height: 75vh
}

.h-\[80px\] {
    height: 80px
}

.h-\[82px\] {
    height: 82px
}

.h-\[86px\] {
    height: 86px
}

.h-\[89px\] {
    height: 89px
}

.h-\[auto\],.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.h-px {
    height: 1px
}

.h-screen {
    height: 100vh
}

.max-h-8 {
    max-height: 2rem
}

.max-h-\[120px\] {
    max-height: 120px
}

.max-h-\[28rem\] {
    max-height: 28rem
}

.max-h-\[380px\] {
    max-height: 380px
}

.max-h-\[400px\] {
    max-height: 400px
}

.max-h-\[550px\] {
    max-height: 550px
}

.max-h-\[90vh\] {
    max-height: 90vh
}

.max-h-\[calc\(100vh-var\(--lqd-body-pt\)-\(var\(--lqd-body-pb\)\)\)\] {
    max-height: calc(100vh - var(--lqd-body-pt) - (var(--lqd-body-pb)))
}

.max-h-\[calc\(85vh-4rem\)\] {
    max-height: calc(85vh - 4rem)
}

.max-h-\[inherit\] {
    max-height: inherit
}

.min-h-\[--lqd-header-height\] {
    min-height: var(--lqd-header-height)
}

.min-h-\[100vh\] {
    min-height: 100vh
}

.min-h-\[180px\] {
    min-height: 180px
}

.min-h-\[1px\] {
    min-height: 1px
}

.min-h-\[200px\] {
    min-height: 200px
}

.min-h-\[400px\] {
    min-height: 400px
}

.min-h-\[40px\] {
    min-height: 40px
}

.min-h-\[44px\] {
    min-height: 44px
}

.min-h-\[47px\] {
    min-height: 47px
}

.min-h-\[52px\] {
    min-height: 52px
}

.min-h-\[800px\] {
    min-height: 800px
}

.min-h-full {
    min-height: 100%
}

.min-h-screen {
    min-height: 100vh
}

.\!w-1 {
    width: .25rem!important
}

.\!w-3 {
    width: .75rem!important
}

.\!w-4 {
    width: 1rem!important
}

.\!w-5 {
    width: 1.25rem!important
}

.\!w-6 {
    width: 1.5rem!important
}

.\!w-7 {
    width: 1.75rem!important
}

.\!w-\[9px\] {
    width: 9px!important
}

.w-0 {
    width: 0px
}

.w-1 {
    width: .25rem
}

.w-1\/2 {
    width: 50%
}

.w-1\/4 {
    width: 25%
}

.w-10 {
    width: 2.5rem
}

.w-10\/12 {
    width: 83.333333%
}

.w-11 {
    width: 2.75rem
}

.w-12 {
    width: 3rem
}

.w-14 {
    width: 3.5rem
}

.w-16 {
    width: 4rem
}

.w-2 {
    width: .5rem
}

.w-2\/3 {
    width: 66.666667%
}

.w-2\/5 {
    width: 40%
}

.w-24 {
    width: 6rem
}

.w-3 {
    width: .75rem
}

.w-3\.5 {
    width: .875rem
}

.w-3\/4 {
    width: 75%
}

.w-3\/5 {
    width: 60%
}

.w-4 {
    width: 1rem
}

.w-4\/5 {
    width: 80%
}

.w-5 {
    width: 1.25rem
}

.w-5\/6 {
    width: 83.333333%
}

.w-6 {
    width: 1.5rem
}

.w-64 {
    width: 16rem
}

.w-7 {
    width: 1.75rem
}

.w-72 {
    width: 18rem
}

.w-8 {
    width: 2rem
}

.w-8\/12 {
    width: 66.666667%
}

.w-80 {
    width: 20rem
}

.w-9 {
    width: 2.25rem
}

.w-\[--sidebar-w\] {
    width: var(--sidebar-w)
}

.w-\[100\%\] {
    width: 100%
}

.w-\[100px\] {
    width: 100px
}

.w-\[100wh\] {
    width: 100wh
}

.w-\[128px\] {
    width: 128px
}

.w-\[148px\] {
    width: 148px
}

.w-\[150\%\] {
    width: 150%
}

.w-\[150px\] {
    width: 150px
}

.w-\[17px\] {
    width: 17px
}

.w-\[19px\] {
    width: 19px
}

.w-\[1em\] {
    width: 1em
}

.w-\[1px\] {
    width: 1px
}

.w-\[201px\] {
    width: 201px
}

.w-\[20px\] {
    width: 20px
}

.w-\[21px\] {
    width: 21px
}

.w-\[22px\] {
    width: 22px
}

.w-\[235px\] {
    width: 235px
}

.w-\[24px\] {
    width: 24px
}

.w-\[25px\] {
    width: 25px
}

.w-\[26px\] {
    width: 26px
}

.w-\[28px\] {
    width: 28px
}

.w-\[305px\] {
    width: 305px
}

.w-\[30px\] {
    width: 30px
}

.w-\[34px\] {
    width: 34px
}

.w-\[350px\] {
    width: 350px
}

.w-\[36px\] {
    width: 36px
}

.w-\[400px\] {
    width: 400px
}

.w-\[40px\] {
    width: 40px
}

.w-\[43px\] {
    width: 43px
}

.w-\[45\%\] {
    width: 45%
}

.w-\[47\%\] {
    width: 47%
}

.w-\[48\.5\%\] {
    width: 48.5%
}

.w-\[50\%\] {
    width: 50%
}

.w-\[50px\] {
    width: 50px
}

.w-\[52px\] {
    width: 52px
}

.w-\[53px\] {
    width: 53px
}

.w-\[60px\] {
    width: 60px
}

.w-\[71px\] {
    width: 71px
}

.w-\[80\%\] {
    width: 80%
}

.w-\[89px\] {
    width: 89px
}

.w-\[90\%\] {
    width: 90%
}

.w-\[calc\(50\%-0\.5rem\)\] {
    width: calc(50% - .5rem)
}

.w-\[min\(95vw\,680px\)\] {
    width: min(95vw,680px)
}

.w-auto {
    width: auto
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}

.w-px {
    width: 1px
}

.w-screen {
    width: 100vw
}

.min-w-\[--sidebar-w\] {
    min-width: var(--sidebar-w)
}

.min-w-\[145px\] {
    min-width: 145px
}

.min-w-\[2\.5rem\] {
    min-width: 2.5rem
}

.min-w-\[210px\] {
    min-width: 210px
}

.min-w-\[230px\] {
    min-width: 230px
}

.min-w-\[60px\] {
    min-width: 60px
}

.min-w-\[65px\] {
    min-width: 65px
}

.min-w-\[90\%\] {
    min-width: 90%
}

.min-w-\[90px\] {
    min-width: 90px
}

.max-w-6xl {
    max-width: 72rem
}

.max-w-\[100px\] {
    max-width: 100px
}

.max-w-\[270px\] {
    max-width: 270px
}

.max-w-\[300px\] {
    max-width: 300px
}

.max-w-\[350px\] {
    max-width: 350px
}

.max-w-\[390px\] {
    max-width: 390px
}

.max-w-\[40px\] {
    max-width: 40px
}

.max-w-\[calc\(100\%\+4rem\)\] {
    max-width: calc(100% + 4rem)
}

.max-w-\[calc\(100\%-64px\)\] {
    max-width: calc(100% - 64px)
}

.max-w-full {
    max-width: 100%
}

.max-w-max {
    max-width: -moz-max-content;
    max-width: max-content
}

.max-w-sm {
    max-width: 24rem
}

.flex-1 {
    flex: 1 1 0%
}

.shrink {
    flex-shrink: 1
}

.shrink-0 {
    flex-shrink: 0
}

.\!grow-0 {
    flex-grow: 0!important
}

.grow {
    flex-grow: 1
}

.grow-0 {
    flex-grow: 0
}

.basis-1\/3 {
    flex-basis: 33.333333%
}

.basis-auto {
    flex-basis: auto
}

.basis-full {
    flex-basis: 100%
}

.origin-center {
    transform-origin: center
}

.-translate-x-1 {
    --tw-translate-x: -.25rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-2 {
    --tw-translate-x: -.5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-2 {
    --tw-translate-y: -.5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-3 {
    --tw-translate-x: .75rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[27\%\] {
    --tw-translate-x: 27%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-1 {
    --tw-translate-y: .25rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-2 {
    --tw-translate-y: .5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-3 {
    --tw-translate-y: .75rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-4 {
    --tw-translate-y: 1rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-6 {
    --tw-translate-y: 1.5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-7 {
    --tw-translate-y: 1.75rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-rotate-45 {
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-\[135deg\] {
    --tw-rotate: 135deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-scale-100 {
    --tw-scale-x: -1;
    --tw-scale-y: -1;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-95 {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform-gpu {
    transform: translate3d(var(--tw-translate-x),var(--tw-translate-y),0) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.animate-spin {
    animation: spin 1s linear infinite
}

.cursor-copy {
    cursor: copy
}

.cursor-default {
    cursor: default
}

.cursor-move {
    cursor: move
}

.cursor-not-allowed {
    cursor: not-allowed
}

.cursor-pointer {
    cursor: pointer
}

.resize-none {
    resize: none
}

.resize {
    resize: both
}

.list-inside {
    list-style-position: inside
}

.list-decimal {
    list-style-type: decimal
}

.list-none {
    list-style-type: none
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.grid-flow-row {
    grid-auto-flow: row
}

.grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.grid-cols-4 {
    grid-template-columns: repeat(4,minmax(0,1fr))
}

.grid-cols-5 {
    grid-template-columns: repeat(5,minmax(0,1fr))
}

.grid-rows-1 {
    grid-template-rows: repeat(1,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.place-content-center {
    place-content: center
}

.place-items-center {
    place-items: center
}

.content-center {
    align-content: center
}

.content-start {
    align-content: flex-start
}

.content-end {
    align-content: flex-end
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.\!items-center {
    align-items: center!important
}

.items-center {
    align-items: center
}

.items-baseline {
    align-items: baseline
}

.\!items-stretch {
    align-items: stretch!important
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-evenly {
    justify-content: space-evenly
}

.justify-items-center {
    justify-items: center
}

.\!gap-1 {
    gap: .25rem!important
}

.\!gap-2 {
    gap: .5rem!important
}

.\!gap-3 {
    gap: .75rem!important
}

.\!gap-4 {
    gap: 1rem!important
}

.\!gap-5 {
    gap: 1.25rem!important
}

.gap-0 {
    gap: 0px
}

.gap-1 {
    gap: .25rem
}

.gap-10 {
    gap: 2.5rem
}

.gap-14 {
    gap: 3.5rem
}

.gap-2 {
    gap: .5rem
}

.gap-20 {
    gap: 5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-7 {
    gap: 1.75rem
}

.gap-8 {
    gap: 2rem
}

.gap-\[10px\] {
    gap: 10px
}

.gap-\[18px\] {
    gap: 18px
}

.gap-\[20px\] {
    gap: 20px
}

.gap-\[8px\] {
    gap: 8px
}

.\!gap-y-3 {
    row-gap: .75rem!important
}

.gap-x-2 {
    -moz-column-gap: .5rem;
    column-gap: .5rem
}

.gap-x-20 {
    -moz-column-gap: 5rem;
    column-gap: 5rem
}

.gap-y-3 {
    row-gap: .75rem
}

.gap-y-6 {
    row-gap: 1.5rem
}

.gap-y-9 {
    row-gap: 2.25rem
}

.space-x-1>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.25rem * var(--tw-space-x-reverse));
    margin-left: calc(.25rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-3>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.75rem * var(--tw-space-x-reverse));
    margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-6>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-1>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.25rem * var(--tw-space-y-reverse))
}

.self-end {
    align-self: flex-end
}

.self-center {
    align-self: center
}

.overflow-auto {
    overflow: auto
}

.\!overflow-hidden {
    overflow: hidden!important
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.overscroll-contain {
    overscroll-behavior: contain
}

.overflow-ellipsis {
    text-overflow: ellipsis
}

.whitespace-nowrap {
    white-space: nowrap
}

.whitespace-pre-wrap {
    white-space: pre-wrap
}

.\!rounded-full {
    border-radius: 9999px!important
}

.\!rounded-none {
    border-radius: 0!important
}

.rounded {
    border-radius: .25rem
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-\[--tblr-border-radius\] {
    border-radius: var(--tblr-border-radius)
}

.rounded-\[10px\] {
    border-radius: 10px
}

.rounded-\[11px\] {
    border-radius: 11px
}

.rounded-\[13px\] {
    border-radius: 13px
}

.rounded-\[15px\] {
    border-radius: 15px
}

.rounded-\[20px\] {
    border-radius: 20px
}

.rounded-\[25px\] {
    border-radius: 25px
}

.rounded-\[26px\] {
    border-radius: 26px
}

.rounded-\[2em\] {
    border-radius: 2em
}

.rounded-\[36px\] {
    border-radius: 36px
}

.rounded-\[3px\] {
    border-radius: 3px
}

.rounded-\[40px\] {
    border-radius: 40px
}

.rounded-\[4px\] {
    border-radius: 4px
}

.rounded-\[50px\] {
    border-radius: 50px
}

.rounded-\[55px\] {
    border-radius: 55px
}

.rounded-\[5px\] {
    border-radius: 5px
}

.rounded-\[6px\] {
    border-radius: 6px
}

.rounded-\[8px\] {
    border-radius: 8px
}

.rounded-\[var\(--tblr-border-radius\)\] {
    border-radius: var(--tblr-border-radius)
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-none {
    border-radius: 0
}

.rounded-sm {
    border-radius: .125rem
}

.rounded-xl {
    border-radius: .75rem
}

.\!rounded-l-3xl {
    border-top-left-radius: 1.5rem!important;
    border-bottom-left-radius: 1.5rem!important
}

.\!rounded-r-3xl {
    border-top-right-radius: 1.5rem!important;
    border-bottom-right-radius: 1.5rem!important
}

.rounded-e-md {
    border-start-end-radius: .375rem;
    border-end-end-radius: .375rem
}

.rounded-e-none {
    border-start-end-radius: 0px;
    border-end-end-radius: 0px
}

.rounded-l-md {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem
}

.rounded-r-md {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.rounded-s-md {
    border-start-start-radius: .375rem;
    border-end-start-radius: .375rem
}

.rounded-s-none {
    border-start-start-radius: 0px;
    border-end-start-radius: 0px
}

.rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0px
}

.border-2 {
    border-width: 2px
}

.border-\[1px\] {
    border-width: 1px
}

.border-\[2px\] {
    border-width: 2px
}

.border-\[6px\] {
    border-width: 6px
}

.border-\[8px\] {
    border-width: 8px
}

.border-x-\[1px\] {
    border-left-width: 1px;
    border-right-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-b-0 {
    border-bottom-width: 0px
}

.border-b-\[1px\] {
    border-bottom-width: 1px
}

.border-e {
    border-inline-end-width:1px}

.border-e-0 {
    border-inline-end-width:0px}

.border-l {
    border-left-width: 1px
}

.border-l-0 {
    border-left-width: 0px
}

.border-r {
    border-right-width: 1px
}

.border-r-0 {
    border-right-width: 0px
}

.border-s-0 {
    border-inline-start-width:0px}

.border-t {
    border-top-width: 1px
}

.border-t-0 {
    border-top-width: 0px
}

.border-solid {
    border-style: solid
}

.border-dashed {
    border-style: dashed
}

.\!border-none {
    border-style: none!important
}

.border-none {
    border-style: none
}

.\!border-\[--tblr-border-color\] {
    border-color: var(--tblr-border-color)!important
}

.\!border-black {
    --tw-border-opacity: 1 !important;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))!important
}

.\!border-white {
    --tw-border-opacity: 1 !important;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))!important
}

.border-\[\#343C57\] {
    --tw-border-opacity: 1;
    border-color: rgb(52 60 87 / var(--tw-border-opacity))
}

.border-\[\#A2B2C9\] {
    --tw-border-opacity: 1;
    border-color: rgb(162 178 201 / var(--tw-border-opacity))
}

.border-\[\#F3F3F3\] {
    --tw-border-opacity: 1;
    border-color: rgb(243 243 243 / var(--tw-border-opacity))
}

.border-\[\#F8F8F8\] {
    --tw-border-opacity: 1;
    border-color: rgb(248 248 248 / var(--tw-border-opacity))
}

.border-\[\#f1f1f1\] {
    --tw-border-opacity: 1;
    border-color: rgb(241 241 241 / var(--tw-border-opacity))
}

.border-\[\#f3f3f3\] {
    --tw-border-opacity: 1;
    border-color: rgb(243 243 243 / var(--tw-border-opacity))
}

.border-\[\#f6f6f6\] {
    --tw-border-opacity: 1;
    border-color: rgb(246 246 246 / var(--tw-border-opacity))
}

.border-\[\#f9f9f9\] {
    --tw-border-opacity: 1;
    border-color: rgb(249 249 249 / var(--tw-border-opacity))
}

.border-\[--tblr-border-color\],.border-\[var\(--tblr-border-color\)\] {
    border-color: var(--tblr-border-color)
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-black\/5 {
    border-color: #0000000d
}

.border-current {
    border-color: currentColor
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-white\/5 {
    border-color: #ffffff0d
}

.border-x-white\/20 {
    border-left-color: #fff3;
    border-right-color: #fff3
}

.border-b-\[\#fafafa\] {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(250 250 250 / var(--tw-border-opacity))
}

.\!border-opacity-0 {
    --tw-border-opacity: 0 !important
}

.\!border-opacity-10 {
    --tw-border-opacity: .1 !important
}

.\!border-opacity-20 {
    --tw-border-opacity: .2 !important
}

.\!border-opacity-5 {
    --tw-border-opacity: .05 !important
}

.border-opacity-0 {
    --tw-border-opacity: 0
}

.border-opacity-10 {
    --tw-border-opacity: .1
}

.border-opacity-5 {
    --tw-border-opacity: .05
}

.\!bg-\[\#efd8fc\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(239 216 252 / var(--tw-bg-opacity))!important
}

.\!bg-current {
    background-color: currentColor!important
}

.\!bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))!important
}

.bg-\[\#010101\] {
    --tw-bg-opacity: 1;
    background-color: rgb(1 1 1 / var(--tw-bg-opacity))
}

.bg-\[\#083D91\] {
    --tw-bg-opacity: 1;
    background-color: rgb(8 61 145 / var(--tw-bg-opacity))
}

.bg-\[\#1a1d23\] {
    --tw-bg-opacity: 1;
    background-color: rgb(26 29 35 / var(--tw-bg-opacity))
}

.bg-\[\#262626\] {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity))
}

.bg-\[\#28027C\] {
    --tw-bg-opacity: 1;
    background-color: rgb(40 2 124 / var(--tw-bg-opacity))
}

.bg-\[\#330582\] {
    --tw-bg-opacity: 1;
    background-color: rgb(51 5 130 / var(--tw-bg-opacity))
}

.bg-\[\#343C57\] {
    --tw-bg-opacity: 1;
    background-color: rgb(52 60 87 / var(--tw-bg-opacity))
}

.bg-\[\#4384ea\] {
    --tw-bg-opacity: 1;
    background-color: rgb(67 132 234 / var(--tw-bg-opacity))
}

.bg-\[\#57CBC6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(87 203 198 / var(--tw-bg-opacity))
}

.bg-\[\#5F499D\] {
    --tw-bg-opacity: 1;
    background-color: rgb(95 73 157 / var(--tw-bg-opacity))
}

.bg-\[\#60027C\] {
    --tw-bg-opacity: 1;
    background-color: rgb(96 2 124 / var(--tw-bg-opacity))
}

.bg-\[\#658C8E\] {
    --tw-bg-opacity: 1;
    background-color: rgb(101 140 142 / var(--tw-bg-opacity))
}

.bg-\[\#684AE2\] {
    --tw-bg-opacity: 1;
    background-color: rgb(104 74 226 / var(--tw-bg-opacity))
}

.bg-\[\#6BAC65\] {
    --tw-bg-opacity: 1;
    background-color: rgb(107 172 101 / var(--tw-bg-opacity))
}

.bg-\[\#6C727B\] {
    --tw-bg-opacity: 1;
    background-color: rgb(108 114 123 / var(--tw-bg-opacity))
}

.bg-\[\#7A8193\] {
    --tw-bg-opacity: 1;
    background-color: rgb(122 129 147 / var(--tw-bg-opacity))
}

.bg-\[\#7F8FE6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(127 143 230 / var(--tw-bg-opacity))
}

.bg-\[\#885EFE\] {
    --tw-bg-opacity: 1;
    background-color: rgb(136 94 254 / var(--tw-bg-opacity))
}

.bg-\[\#9D6BDD\] {
    --tw-bg-opacity: 1;
    background-color: rgb(157 107 221 / var(--tw-bg-opacity))
}

.bg-\[\#9E9EFF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(158 158 255 / var(--tw-bg-opacity))
}

.bg-\[\#AB7FE6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(171 127 230 / var(--tw-bg-opacity))
}

.bg-\[\#CBA153\] {
    --tw-bg-opacity: 1;
    background-color: rgb(203 161 83 / var(--tw-bg-opacity))
}

.bg-\[\#DAFBEE\] {
    --tw-bg-opacity: 1;
    background-color: rgb(218 251 238 / var(--tw-bg-opacity))
}

.bg-\[\#E1E5EB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(225 229 235 / var(--tw-bg-opacity))
}

.bg-\[\#E2FFFC\] {
    --tw-bg-opacity: 1;
    background-color: rgb(226 255 252 / var(--tw-bg-opacity))
}

.bg-\[\#E5E7EB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-\[\#EF793A\] {
    --tw-bg-opacity: 1;
    background-color: rgb(239 121 58 / var(--tw-bg-opacity))
}

.bg-\[\#EFEFEF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(239 239 239 / var(--tw-bg-opacity))
}

.bg-\[\#F1EDFF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(241 237 255 / var(--tw-bg-opacity))
}

.bg-\[\#F2F1FD\] {
    --tw-bg-opacity: 1;
    background-color: rgb(242 241 253 / var(--tw-bg-opacity))
}

.bg-\[\#F3E2FD\] {
    --tw-bg-opacity: 1;
    background-color: rgb(243 226 253 / var(--tw-bg-opacity))
}

.bg-\[\#F3E5F5\] {
    --tw-bg-opacity: 1;
    background-color: rgb(243 229 245 / var(--tw-bg-opacity))
}

.bg-\[\#F4F4F4\] {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 244 / var(--tw-bg-opacity))
}

.bg-\[\#F5F5F7\] {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 247 / var(--tw-bg-opacity))
}

.bg-\[\#F6F6F6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(246 246 246 / var(--tw-bg-opacity))
}

.bg-\[\#FFF1DB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 241 219 / var(--tw-bg-opacity))
}

.bg-\[\#FaFaFc\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 252 / var(--tw-bg-opacity))
}

.bg-\[\#dee6f3\] {
    --tw-bg-opacity: 1;
    background-color: rgb(222 230 243 / var(--tw-bg-opacity))
}

.bg-\[\#f1edff\] {
    --tw-bg-opacity: 1;
    background-color: rgb(241 237 255 / var(--tw-bg-opacity))
}

.bg-\[\#f2f2f4\] {
    --tw-bg-opacity: 1;
    background-color: rgb(242 242 244 / var(--tw-bg-opacity))
}

.bg-\[\#f3f5f8\] {
    --tw-bg-opacity: 1;
    background-color: rgb(243 245 248 / var(--tw-bg-opacity))
}

.bg-\[\#f7f7f7\] {
    --tw-bg-opacity: 1;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity))
}

.bg-\[\#f9f9f9\] {
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity))
}

.bg-\[\#fff\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[--lqd-bg-alt\] {
    background-color: var(--lqd-bg-alt)
}

.bg-\[--lqd-header-search-bg\] {
    background-color: var(--lqd-header-search-bg)
}

.bg-\[--lqd-pink\] {
    background-color: var(--lqd-pink)
}

.bg-\[--tblr-bg-surface\] {
    background-color: var(--tblr-bg-surface)
}

.bg-\[--tblr-body-bg\] {
    background-color: var(--tblr-body-bg)
}

.bg-\[--tblr-border-color\] {
    background-color: var(--tblr-border-color)
}

.bg-\[--tblr-primary\] {
    background-color: var(--tblr-primary)
}

.bg-\[rgba\(157\,107\,221\,0\.1\)\] {
    background-color: #9d6bdd1a
}

.bg-\[rgba\(28\,166\,133\,0\.15\)\] {
    background-color: #1ca68526
}

.bg-\[rgba\(var\(--tblr-body-bg-rgb\)\,0\.75\)\] {
    background-color: rgba(var(--tblr-body-bg-rgb),.75)
}

.bg-\[rgba\(var\(--tblr-danger-rgb\)\,0\.1\)\] {
    background-color: rgba(var(--tblr-danger-rgb),.1)
}

.bg-\[rgba\(var\(--tblr-green-rgb\)\,0\.15\)\] {
    background-color: rgba(var(--tblr-green-rgb),.15)
}

.bg-\[rgba\(var\(--tblr-primary-rgb\)\,0\.1\)\] {
    background-color: rgba(var(--tblr-primary-rgb),.1)
}

.bg-\[rgba\(var\(--tblr-primary-rgb\)\,0\.2\)\] {
    background-color: rgba(var(--tblr-primary-rgb),.2)
}

.bg-\[rgba\(var\(--tblr-red-rgb\)\,0\.15\)\] {
    background-color: rgba(var(--tblr-red-rgb),.15)
}

.bg-\[transparent\] {
    background-color: transparent
}

.bg-\[var\(--tblr-bg-surface\)\] {
    background-color: var(--tblr-bg-surface)
}

.bg-amber-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 243 199 / var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-black\/10 {
    background-color: #0000001a
}

.bg-black\/25 {
    background-color: #00000040
}

.bg-black\/5 {
    background-color: #0000000d
}

.bg-black\/\[0\.06\] {
    background-color: #0000000f
}

.bg-black\/\[3\%\] {
    background-color: #00000008
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity))
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity))
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 252 231 / var(--tw-bg-opacity))
}

.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.bg-green-700\/80 {
    background-color: #15803dcc
}

.bg-orange-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 237 213 / var(--tw-bg-opacity))
}

.bg-purple-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 232 255 / var(--tw-bg-opacity))
}

.bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-red-700\/80 {
    background-color: #b91c1ccc
}

.bg-red-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(127 29 29 / var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-white\/5 {
    background-color: #ffffff0d
}

.bg-white\/90 {
    background-color: #ffffffe6
}

.bg-yellow-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 249 195 / var(--tw-bg-opacity))
}

.bg-yellow-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 252 232 / var(--tw-bg-opacity))
}

.bg-yellow-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity))
}

.bg-yellow-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(133 77 14 / var(--tw-bg-opacity))
}

.bg-zinc-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity))
}

.\!bg-opacity-10 {
    --tw-bg-opacity: .1 !important
}

.\!bg-opacity-5 {
    --tw-bg-opacity: .05 !important
}

.bg-opacity-10 {
    --tw-bg-opacity: .1
}

.bg-opacity-25 {
    --tw-bg-opacity: .25
}

.bg-opacity-5 {
    --tw-bg-opacity: .05
}

.bg-opacity-\[0\.03\] {
    --tw-bg-opacity: .03
}

.bg-opacity-\[0\.07\] {
    --tw-bg-opacity: .07
}

.\!bg-gradient-to-b {
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops))!important
}

.bg-gradient-to-bl {
    background-image: linear-gradient(to bottom left,var(--tw-gradient-stops))
}

.bg-gradient-to-br {
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops))
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.bg-gradient-to-t {
    background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.bg-none {
    background-image: none
}

.from-\[\#3655df\] {
    --tw-gradient-from: #3655df var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(54 85 223 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-\[\#82E2F4\] {
    --tw-gradient-from: #82E2F4 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(130 226 244 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-\[\#9C76F9\] {
    --tw-gradient-from: #9C76F9 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(156 118 249 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-\[\#F4E3FD\] {
    --tw-gradient-from: #F4E3FD var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(244 227 253 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-\[\#ece7f7\] {
    --tw-gradient-from: #ece7f7 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(236 231 247 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-\[\#f0f0f2\] {
    --tw-gradient-from: #f0f0f2 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(240 240 242 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-purple-100 {
    --tw-gradient-from: #f3e8ff var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(243 232 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-transparent {
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-violet-600 {
    --tw-gradient-from: #7c3aed var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(124 58 237 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-0\% {
    --tw-gradient-from-position: 0%
}

.via-\[\#A068FA\] {
    --tw-gradient-to: rgb(160 104 250 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #A068FA var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.via-\[\#e7c5e6\] {
    --tw-gradient-to: rgb(231 197 230 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #e7c5e6 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.via-purple-200 {
    --tw-gradient-to: rgb(233 213 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #e9d5ff var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.via-70\% {
    --tw-gradient-via-position: 70%
}

.to-\[\#327BD1\] {
    --tw-gradient-to: #327BD1 var(--tw-gradient-to-position)
}

.to-\[\#8A8AED\] {
    --tw-gradient-to: #8A8AED var(--tw-gradient-to-position)
}

.to-\[\#BBDAFF\] {
    --tw-gradient-to: #BBDAFF var(--tw-gradient-to-position)
}

.to-\[\#F1EEFF\] {
    --tw-gradient-to: #F1EEFF var(--tw-gradient-to-position)
}

.to-\[\#d7d7d9\] {
    --tw-gradient-to: #d7d7d9 var(--tw-gradient-to-position)
}

.to-\[\#e7ebf9\] {
    --tw-gradient-to: #e7ebf9 var(--tw-gradient-to-position)
}

.to-red-500 {
    --tw-gradient-to: #ef4444 var(--tw-gradient-to-position)
}

.to-slate-200 {
    --tw-gradient-to: #e2e8f0 var(--tw-gradient-to-position)
}

.to-transparent {
    --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.to-white {
    --tw-gradient-to: #fff var(--tw-gradient-to-position)
}

.to-100\% {
    --tw-gradient-to-position: 100%
}

.to-50\% {
    --tw-gradient-to-position: 50%
}

.bg-contain {
    background-size: contain
}

.bg-cover {
    background-size: cover
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text
}

.bg-center {
    background-position: center
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.fill-\[\#D8DBE5\] {
    fill: #d8dbe5
}

.fill-\[\#c1c1c3\] {
    fill: #c1c1c3
}

.stroke-green-500 {
    stroke: #22c55e
}

.stroke-red-600 {
    stroke: #dc2626
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.object-center {
    -o-object-position: center;
    object-position: center
}

.\!p-1 {
    padding: .25rem!important
}

.\!p-3 {
    padding: .75rem!important
}

.\!p-4 {
    padding: 1rem!important
}

.\!p-5 {
    padding: 1.25rem!important
}

.\!p-\[45px_50px_50px\] {
    padding: 45px 50px 50px!important
}

.p-0 {
    padding: 0
}

.p-1 {
    padding: .25rem
}

.p-10 {
    padding: 2.5rem
}

.p-11 {
    padding: 2.75rem
}

.p-16 {
    padding: 4rem
}

.p-2 {
    padding: .5rem
}

.p-2\.5 {
    padding: .625rem
}

.p-20 {
    padding: 5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-7 {
    padding: 1.75rem
}

.p-8 {
    padding: 2rem
}

.p-\[0\.35rem\] {
    padding: .35rem
}

.p-\[0\.375rem\] {
    padding: .375rem
}

.p-\[0\.3em_0\.65em\] {
    padding: .3em .65em
}

.p-\[0\.85em_1\.2em\] {
    padding: .85em 1.2em
}

.p-\[1\.15em_2\.1em\] {
    padding: 1.15em 2.1em
}

.p-\[10px\] {
    padding: 10px
}

.p-\[15px\] {
    padding: 15px
}

.p-\[16px\] {
    padding: 16px
}

.p-\[1rem\] {
    padding: 1rem
}

.p-\[1rem_2rem\] {
    padding: 1rem 2rem
}

.p-\[20px\] {
    padding: 20px
}

.p-\[2rem\] {
    padding: 2rem
}

.p-\[30px\] {
    padding: 30px
}

.\!px-1 {
    padding-left: .25rem!important;
    padding-right: .25rem!important
}

.\!px-2 {
    padding-left: .5rem!important;
    padding-right: .5rem!important
}

.\!px-2\.5 {
    padding-left: .625rem!important;
    padding-right: .625rem!important
}

.\!px-3 {
    padding-left: .75rem!important;
    padding-right: .75rem!important
}

.\!px-4 {
    padding-left: 1rem!important;
    padding-right: 1rem!important
}

.\!px-5 {
    padding-left: 1.25rem!important;
    padding-right: 1.25rem!important
}

.\!px-7 {
    padding-left: 1.75rem!important;
    padding-right: 1.75rem!important
}

.\!px-8 {
    padding-left: 2rem!important;
    padding-right: 2rem!important
}

.\!py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important
}

.\!py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important
}

.\!py-3 {
    padding-top: .75rem!important;
    padding-bottom: .75rem!important
}

.\!py-4 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.\!py-6 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important
}

.\!py-\[0\.15em\] {
    padding-top: .15em!important;
    padding-bottom: .15em!important
}

.\!py-\[0\.65rem\] {
    padding-top: .65rem!important;
    padding-bottom: .65rem!important
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem
}

.px-\[--tblr-card-cap-padding-x\] {
    padding-left: var(--tblr-card-cap-padding-x);
    padding-right: var(--tblr-card-cap-padding-x)
}

.px-\[0\.5em\] {
    padding-left: .5em;
    padding-right: .5em
}

.px-\[0\.5rem\] {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-\[0\.75rem\] {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-\[1\.375rem\] {
    padding-left: 1.375rem;
    padding-right: 1.375rem
}

.px-\[1\.428rem\] {
    padding-left: 1.428rem;
    padding-right: 1.428rem
}

.px-\[1\.5rem\] {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-\[18px\] {
    padding-left: 18px;
    padding-right: 18px
}

.px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px
}

.px-\[3rem\] {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-\[5px\] {
    padding-left: 5px;
    padding-right: 5px
}

.px-\[6px\] {
    padding-left: 6px;
    padding-right: 6px
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-0\.5 {
    padding-top: .125rem;
    padding-bottom: .125rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.py-52 {
    padding-top: 13rem;
    padding-bottom: 13rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem
}

.py-\[--tblr-card-cap-padding-y\] {
    padding-top: var(--tblr-card-cap-padding-y);
    padding-bottom: var(--tblr-card-cap-padding-y)
}

.py-\[0\.15rem\] {
    padding-top: .15rem;
    padding-bottom: .15rem
}

.py-\[0\.25em\] {
    padding-top: .25em;
    padding-bottom: .25em
}

.py-\[0\.25rem\] {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-\[0\.35em\] {
    padding-top: .35em;
    padding-bottom: .35em
}

.py-\[0\.35rem\] {
    padding-top: .35rem;
    padding-bottom: .35rem
}

.py-\[0\.6rem\] {
    padding-top: .6rem;
    padding-bottom: .6rem
}

.py-\[0\.75em\] {
    padding-top: .75em;
    padding-bottom: .75em
}

.py-\[0\.75rem\] {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-\[1\.5rem\] {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-\[11px\] {
    padding-top: 11px;
    padding-bottom: 11px
}

.py-\[12px\] {
    padding-top: 12px;
    padding-bottom: 12px
}

.py-\[2px\] {
    padding-top: 2px;
    padding-bottom: 2px
}

.py-\[3px\] {
    padding-top: 3px;
    padding-bottom: 3px
}

.py-\[5px\] {
    padding-top: 5px;
    padding-bottom: 5px
}

.\!pb-6 {
    padding-bottom: 1.5rem!important
}

.\!pb-8 {
    padding-bottom: 2rem!important
}

.\!pe-0 {
    padding-inline-end:0px!important}

.\!pe-2 {
    padding-inline-end:.5rem!important}

.\!pe-3 {
    padding-inline-end:.75rem!important}

.\!pr-14 {
    padding-right: 3.5rem!important
}

.\!ps-0 {
    padding-inline-start:0px!important}

.\!ps-4 {
    padding-inline-start:1rem!important}

.\!ps-5 {
    padding-inline-start:1.25rem!important}

.\!pt-3 {
    padding-top: .75rem!important
}

.\!pt-4 {
    padding-top: 1rem!important
}

.\!pt-5 {
    padding-top: 1.25rem!important
}

.pb-0 {
    padding-bottom: 0
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pb-11 {
    padding-bottom: 2.75rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pb-16 {
    padding-bottom: 4rem
}

.pb-20 {
    padding-bottom: 5rem
}

.pb-24 {
    padding-bottom: 6rem
}

.pb-28 {
    padding-bottom: 7rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pb-52 {
    padding-bottom: 13rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pb-7 {
    padding-bottom: 1.75rem
}

.pb-9 {
    padding-bottom: 2.25rem
}

.pb-\[16px\] {
    padding-bottom: 16px
}

.pe-14 {
    padding-inline-end:3.5rem}

.pe-2 {
    padding-inline-end:.5rem}

.pe-3 {
    padding-inline-end:.75rem}

.pe-4 {
    padding-inline-end:1rem}

.pe-9 {
    padding-inline-end:2.25rem}

.pe-\[100px\] {
    padding-inline-end:100px}

.pl-1 {
    padding-left: .25rem
}

.pl-3 {
    padding-left: .75rem
}

.pl-4 {
    padding-left: 1rem
}

.pr-6 {
    padding-right: 1.5rem
}

.ps-0 {
    padding-inline-start:0px}

.ps-1 {
    padding-inline-start:.25rem}

.ps-14 {
    padding-inline-start:3.5rem}

.ps-16 {
    padding-inline-start:4rem}

.ps-2 {
    padding-inline-start:.5rem}

.ps-4 {
    padding-inline-start:1rem}

.ps-5 {
    padding-inline-start:1.25rem}

.ps-6 {
    padding-inline-start:1.5rem}

.ps-\[--sidebar-w\] {
    padding-inline-start: var(--sidebar-w)
}

.ps-\[1\.25rem\] {
    padding-inline-start:1.25rem}

.pt-0 {
    padding-top: 0
}

.pt-1 {
    padding-top: .25rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-32 {
    padding-top: 8rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-40 {
    padding-top: 10rem
}

.pt-5 {
    padding-top: 1.25rem
}

.pt-52 {
    padding-top: 13rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pt-64 {
    padding-top: 16rem
}

.pt-7 {
    padding-top: 1.75rem
}

.pt-8 {
    padding-top: 2rem
}

.pt-9 {
    padding-top: 2.25rem
}

.pt-\[30px\] {
    padding-top: 30px
}

.pt-\[48px\] {
    padding-top: 48px
}

.pt-\[calc\(var\(--editor-tb-h\)\+var\(--editor-bb-h\)\+3rem\)\] {
    padding-top: calc(var(--editor-tb-h) + var(--editor-bb-h) + 3rem)
}

.text-left {
    text-align: left
}

.\!text-center {
    text-align: center!important
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-start {
    text-align: start
}

.\!text-end {
    text-align: end!important
}

.text-end {
    text-align: end
}

.-indent-\[99999px\] {
    text-indent: -99999px
}

.indent-0 {
    text-indent: 0px
}

.align-middle {
    vertical-align: middle
}

.align-bottom {
    vertical-align: bottom
}

.align-sub {
    vertical-align: sub
}

.font-\[inherit\] {
    font-family: inherit
}

.\!text-\[21px\] {
    font-size: 21px!important
}

.\!text-xs {
    font-size: .75rem!important;
    line-height: 1rem!important
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-\[0\.35em\] {
    font-size: .35em
}

.text-\[0\.3em\] {
    font-size: .3em
}

.text-\[0\.53em\] {
    font-size: .53em
}

.text-\[0\.75em\] {
    font-size: .75em
}

.text-\[0\.9rem\] {
    font-size: .9rem
}

.text-\[1\.25rem\] {
    font-size: 1.25rem
}

.text-\[100px\] {
    font-size: 100px
}

.text-\[10px\] {
    font-size: 10px
}

.text-\[11px\] {
    font-size: 11px
}

.text-\[12px\] {
    font-size: 12px
}

.text-\[13px\] {
    font-size: 13px
}

.text-\[14px\] {
    font-size: 14px
}

.text-\[15px\] {
    font-size: 15px
}

.text-\[16px\] {
    font-size: 16px
}

.text-\[17px\] {
    font-size: 17px
}

.text-\[18px\] {
    font-size: 18px
}

.text-\[19px\] {
    font-size: 19px
}

.text-\[1em\] {
    font-size: 1em
}

.text-\[1rem\] {
    font-size: 1rem
}

.text-\[20px\] {
    font-size: 20px
}

.text-\[21px\] {
    font-size: 21px
}

.text-\[23px\] {
    font-size: 23px
}

.text-\[25px\] {
    font-size: 25px
}

.text-\[26px\] {
    font-size: 26px
}

.text-\[27px\] {
    font-size: 27px
}

.text-\[28px\] {
    font-size: 28px
}

.text-\[2em\] {
    font-size: 2em
}

.text-\[30px\] {
    font-size: 30px
}

.text-\[36px\] {
    font-size: 36px
}

.text-\[44px\] {
    font-size: 44px
}

.text-\[45px\] {
    font-size: 45px
}

.text-\[50px\] {
    font-size: 50px
}

.text-\[55px\] {
    font-size: 55px
}

.text-\[58px\] {
    font-size: 58px
}

.text-\[60px\] {
    font-size: 60px
}

.text-\[64px\] {
    font-size: 64px
}

.text-\[75px\] {
    font-size: 75px
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.\!font-medium {
    font-weight: 500!important
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.italic {
    font-style: italic
}

.not-italic {
    font-style: normal
}

.ordinal {
    --tw-ordinal: ordinal;
    font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.\!leading-none {
    line-height: 1!important
}

.leading-5 {
    line-height: 1.25rem
}

.leading-6 {
    line-height: 1.5rem
}

.leading-\[1\.25em\] {
    line-height: 1.25em
}

.leading-\[1\.27em\] {
    line-height: 1.27em
}

.leading-\[1\.3em\] {
    line-height: 1.3em
}

.leading-\[1\.444em\] {
    line-height: 1.444em
}

.leading-\[1\.53em\] {
    line-height: 1.53em
}

.leading-\[1\.5em\] {
    line-height: 1.5em
}

.leading-\[17px\] {
    line-height: 17px
}

.leading-\[26px\] {
    line-height: 26px
}

.leading-\[45px\] {
    line-height: 45px
}

.leading-none {
    line-height: 1
}

.leading-relaxed {
    line-height: 1.625
}

.leading-tight {
    line-height: 1.25
}

.-tracking-\[0\.15px\] {
    letter-spacing: -.15px
}

.-tracking-tight {
    letter-spacing: .025em
}

.-tracking-wide {
    letter-spacing: -.025em
}

.tracking-\[-0\.015em\] {
    letter-spacing: -.015em
}

.tracking-tight {
    letter-spacing: -.025em
}

.tracking-wide {
    letter-spacing: .025em
}

.tracking-wider {
    letter-spacing: .05em
}

.tracking-widest {
    letter-spacing: .1em
}

.\!text-\[--lqd-heading-color\] {
    color: var(--lqd-heading-color)!important
}

.\!text-black {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity))!important
}

.text-\[\#000\] {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-\[\#002033\] {
    --tw-text-opacity: 1;
    color: rgb(0 32 51 / var(--tw-text-opacity))
}

.text-\[\#002A40\] {
    --tw-text-opacity: 1;
    color: rgb(0 42 64 / var(--tw-text-opacity))
}

.text-\[\#083D91\] {
    --tw-text-opacity: 1;
    color: rgb(8 61 145 / var(--tw-text-opacity))
}

.text-\[\#090A0A\] {
    --tw-text-opacity: 1;
    color: rgb(9 10 10 / var(--tw-text-opacity))
}

.text-\[\#0E3F58\] {
    --tw-text-opacity: 1;
    color: rgb(14 63 88 / var(--tw-text-opacity))
}

.text-\[\#212121\] {
    --tw-text-opacity: 1;
    color: rgb(33 33 33 / var(--tw-text-opacity))
}

.text-\[\#242425\] {
    --tw-text-opacity: 1;
    color: rgb(36 36 37 / var(--tw-text-opacity))
}

.text-\[\#272D38\] {
    --tw-text-opacity: 1;
    color: rgb(39 45 56 / var(--tw-text-opacity))
}

.text-\[\#28027C\] {
    --tw-text-opacity: 1;
    color: rgb(40 2 124 / var(--tw-text-opacity))
}

.text-\[\#292E34\] {
    --tw-text-opacity: 1;
    color: rgb(41 46 52 / var(--tw-text-opacity))
}

.text-\[\#2B2F37\] {
    --tw-text-opacity: 1;
    color: rgb(43 47 55 / var(--tw-text-opacity))
}

.text-\[\#2D3136\] {
    --tw-text-opacity: 1;
    color: rgb(45 49 54 / var(--tw-text-opacity))
}

.text-\[\#330582\] {
    --tw-text-opacity: 1;
    color: rgb(51 5 130 / var(--tw-text-opacity))
}

.text-\[\#334155\] {
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity))
}

.text-\[\#354D6E\] {
    --tw-text-opacity: 1;
    color: rgb(53 77 110 / var(--tw-text-opacity))
}

.text-\[\#3C344B\] {
    --tw-text-opacity: 1;
    color: rgb(60 52 75 / var(--tw-text-opacity))
}

.text-\[\#485061\] {
    --tw-text-opacity: 1;
    color: rgb(72 80 97 / var(--tw-text-opacity))
}

.text-\[\#57CBC6\] {
    --tw-text-opacity: 1;
    color: rgb(87 203 198 / var(--tw-text-opacity))
}

.text-\[\#595959\] {
    --tw-text-opacity: 1;
    color: rgb(89 89 89 / var(--tw-text-opacity))
}

.text-\[\#5A4791\] {
    --tw-text-opacity: 1;
    color: rgb(90 71 145 / var(--tw-text-opacity))
}

.text-\[\#5F499D\] {
    --tw-text-opacity: 1;
    color: rgb(95 73 157 / var(--tw-text-opacity))
}

.text-\[\#60027C\] {
    --tw-text-opacity: 1;
    color: rgb(96 2 124 / var(--tw-text-opacity))
}

.text-\[\#64748B\] {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity))
}

.text-\[\#684AE2\] {
    --tw-text-opacity: 1;
    color: rgb(104 74 226 / var(--tw-text-opacity))
}

.text-\[\#6BAC65\] {
    --tw-text-opacity: 1;
    color: rgb(107 172 101 / var(--tw-text-opacity))
}

.text-\[\#6C727B\] {
    --tw-text-opacity: 1;
    color: rgb(108 114 123 / var(--tw-text-opacity))
}

.text-\[\#7949f9\] {
    --tw-text-opacity: 1;
    color: rgb(121 73 249 / var(--tw-text-opacity))
}

.text-\[\#7F8FE6\] {
    --tw-text-opacity: 1;
    color: rgb(127 143 230 / var(--tw-text-opacity))
}

.text-\[\#A2B2C9\] {
    --tw-text-opacity: 1;
    color: rgb(162 178 201 / var(--tw-text-opacity))
}

.text-\[\#A488FF\] {
    --tw-text-opacity: 1;
    color: rgb(164 136 255 / var(--tw-text-opacity))
}

.text-\[\#AB7FE6\] {
    --tw-text-opacity: 1;
    color: rgb(171 127 230 / var(--tw-text-opacity))
}

.text-\[\#C5C7CB\] {
    --tw-text-opacity: 1;
    color: rgb(197 199 203 / var(--tw-text-opacity))
}

.text-\[\#CBA153\] {
    --tw-text-opacity: 1;
    color: rgb(203 161 83 / var(--tw-text-opacity))
}

.text-\[\#E5E6E6\] {
    --tw-text-opacity: 1;
    color: rgb(229 230 230 / var(--tw-text-opacity))
}

.text-\[\#EF793A\] {
    --tw-text-opacity: 1;
    color: rgb(239 121 58 / var(--tw-text-opacity))
}

.text-\[--lqd-heading-color\] {
    color: var(--lqd-heading-color)
}

.text-\[rgba\(0\,0\,0\,0\.4\)\] {
    color: #0006
}

.text-\[rgba\(0\,0\,0\,0\.65\)\] {
    color: #000000a6
}

.text-\[var\(--lqd-heading-color\)\] {
    color: var(--lqd-heading-color)
}

.text-\[var\(--tblr-green\)\] {
    color: var(--tblr-green)
}

.text-\[var\(--tblr-red\)\] {
    color: var(--tblr-red)
}

.text-amber-600 {
    --tw-text-opacity: 1;
    color: rgb(217 119 6 / var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-black\/50 {
    color: #00000080
}

.text-black\/90 {
    color: #000000e6
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-current {
    color: currentColor
}

.text-fuchsia-700 {
    --tw-text-opacity: 1;
    color: rgb(162 28 175 / var(--tw-text-opacity))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity))
}

.text-green-600 {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity))
}

.text-inherit {
    color: inherit
}

.text-orange-500 {
    --tw-text-opacity: 1;
    color: rgb(249 115 22 / var(--tw-text-opacity))
}

.text-orange-600 {
    --tw-text-opacity: 1;
    color: rgb(234 88 12 / var(--tw-text-opacity))
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-red-700 {
    --tw-text-opacity: 1;
    color: rgb(185 28 28 / var(--tw-text-opacity))
}

.text-transparent {
    color: transparent
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-yellow-500 {
    --tw-text-opacity: 1;
    color: rgb(234 179 8 / var(--tw-text-opacity))
}

.text-yellow-600 {
    --tw-text-opacity: 1;
    color: rgb(202 138 4 / var(--tw-text-opacity))
}

.text-yellow-800 {
    --tw-text-opacity: 1;
    color: rgb(133 77 14 / var(--tw-text-opacity))
}

.\!text-opacity-60 {
    --tw-text-opacity: .6 !important
}

.text-opacity-0 {
    --tw-text-opacity: 0
}

.text-opacity-50 {
    --tw-text-opacity: .5
}

.text-opacity-60 {
    --tw-text-opacity: .6
}

.text-opacity-80 {
    --tw-text-opacity: .8
}

.underline {
    text-decoration-line: underline
}

.line-through {
    text-decoration-line: line-through
}

.\!no-underline {
    text-decoration-line: none!important
}

.\!opacity-0 {
    opacity: 0!important
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.opacity-20 {
    opacity: .2
}

.opacity-25 {
    opacity: .25
}

.opacity-30 {
    opacity: .3
}

.opacity-40 {
    opacity: .4
}

.opacity-50 {
    opacity: .5
}

.opacity-60 {
    opacity: .6
}

.opacity-70 {
    opacity: .7
}

.opacity-75 {
    opacity: .75
}

.opacity-80 {
    opacity: .8
}

.bg-blend-luminosity {
    background-blend-mode: luminosity
}

.mix-blend-multiply {
    mix-blend-mode: multiply
}

.mix-blend-lighten {
    mix-blend-mode: lighten
}

.mix-blend-luminosity {
    mix-blend-mode: luminosity
}

.\!shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1) !important;
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important
}

.\!shadow-none {
    --tw-shadow: 0 0 #0000 !important;
    --tw-shadow-colored: 0 0 #0000 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important
}

.\!shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05) !important;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important
}

.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[-5px_-10px_30px_rgba\(0\,0\,0\,0\.07\)\] {
    --tw-shadow: -5px -10px 30px rgba(0,0,0,.07);
    --tw-shadow-colored: -5px -10px 30px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_10px_10px_rgba\(0\,0\,0\,0\.06\)\] {
    --tw-shadow: 0 10px 10px rgba(0,0,0,.06);
    --tw-shadow-colored: 0 10px 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_10px_70px_rgba\(0\,0\,0\,0\.1\)\] {
    --tw-shadow: 0 10px 70px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 70px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_1px_2px_rgba\(0\,0\,0\,0\.07\)\] {
    --tw-shadow: 0 1px 2px rgba(0,0,0,.07);
    --tw-shadow-colored: 0 1px 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_24px_88px_rgba\(0\,0\,0\,0\.55\)\] {
    --tw-shadow: 0 24px 88px rgba(0,0,0,.55);
    --tw-shadow-colored: 0 24px 88px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_2px_1px_0_rgba\(29\,39\,59\,0\.07\)\] {
    --tw-shadow: 0 2px 1px 0 rgba(29,39,59,.07);
    --tw-shadow-colored: 0 2px 1px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_2px_4px_rgba\(149\,146\,157\,0\.15\)\] {
    --tw-shadow: 0 2px 4px rgba(149,146,157,.15);
    --tw-shadow-colored: 0 2px 4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_2px_5px_rgba\(29\,39\,59\,0\.05\)\] {
    --tw-shadow: 0 2px 5px rgba(29,39,59,.05);
    --tw-shadow-colored: 0 2px 5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_2px_8px_0_rgba\(29\,39\,59\,0\.06\)\] {
    --tw-shadow: 0 2px 8px 0 rgba(29,39,59,.06);
    --tw-shadow-colored: 0 2px 8px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_3px_12px_rgba\(0\,0\,0\,0\.08\)\] {
    --tw-shadow: 0 3px 12px rgba(0,0,0,.08);
    --tw-shadow-colored: 0 3px 12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_3px_19px_rgba\(47\,58\,99\,0\.06\)\] {
    --tw-shadow: 0 3px 19px rgba(47,58,99,.06);
    --tw-shadow-colored: 0 3px 19px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_4px_10px_0_rgba\(0\,0\,0\,0\.06\)\] {
    --tw-shadow: 0 4px 10px 0 rgba(0,0,0,.06);
    --tw-shadow-colored: 0 4px 10px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_4px_10px_rgba\(0\,0\,0\,0\.05\)\] {
    --tw-shadow: 0 4px 10px rgba(0,0,0,.05);
    --tw-shadow-colored: 0 4px 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_4px_15px_rgba\(0\,0\,0\,0\.05\)\] {
    --tw-shadow: 0 4px 15px rgba(0,0,0,.05);
    --tw-shadow-colored: 0 4px 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_4px_20px_rgba\(0\,0\,0\,0\.04\)\] {
    --tw-shadow: 0 4px 20px rgba(0,0,0,.04);
    --tw-shadow-colored: 0 4px 20px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_4px_44px_0_rgba\(113\,136\,197\,0\.07\)\] {
    --tw-shadow: 0 4px 44px 0 rgba(113,136,197,.07);
    --tw-shadow-colored: 0 4px 44px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_5px_10px_rgba\(0\,0\,0\,0\.02\)\] {
    --tw-shadow: 0 5px 10px rgba(0,0,0,.02);
    --tw-shadow-colored: 0 5px 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_5px_15px_rgba\(0\,0\,0\,0\.06\)\] {
    --tw-shadow: 0 5px 15px rgba(0,0,0,.06);
    --tw-shadow-colored: 0 5px 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_7px_20px_rgba\(0\,0\,0\,0\.04\)\] {
    --tw-shadow: 0 7px 20px rgba(0,0,0,.04);
    --tw-shadow-colored: 0 7px 20px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_7px_25px_rgba\(0\,0\,0\,0\.07\)\] {
    --tw-shadow: 0 7px 25px rgba(0,0,0,.07);
    --tw-shadow-colored: 0 7px 25px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[0px_3px_45px_rgba\(0\,0\,0\,0\.07\)\] {
    --tw-shadow: 0px 3px 45px rgba(0,0,0,.07);
    --tw-shadow-colored: 0px 3px 45px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-\[2px_4px_26px_rgba\(0\,0\,0\,0\.05\)\] {
    --tw-shadow: 2px 4px 26px rgba(0,0,0,.05);
    --tw-shadow-colored: 2px 4px 26px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.shadow-green-400 {
    --tw-shadow-color: #4ade80;
    --tw-shadow: var(--tw-shadow-colored)
}

.\!outline-none {
    outline: 2px solid transparent!important;
    outline-offset: 2px!important
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.outline {
    outline-style: solid
}

.outline-0 {
    outline-width: 0px
}

.ring-gray-300 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity))
}

.blur-3xl {
    --tw-blur: blur(64px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur-lg {
    --tw-blur: blur(16px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur-sm {
    --tw-blur: blur(4px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-2xl {
    --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / .15));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-\[1px\] {
    --tw-backdrop-blur: blur(1px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-saturate-150 {
    --tw-backdrop-saturate: saturate(1.5);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-\[background\,shadow\] {
    transition-property: background,shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-\[background\] {
    transition-property: background;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-\[opacity\,transform\] {
    transition-property: opacity,transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-\[width\] {
    transition-property: width;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-colors {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.delay-100 {
    transition-delay: .1s
}

.delay-\[450ms\] {
    transition-delay: .45s
}

.delay-\[500ms\] {
    transition-delay: .5s
}

.duration-150 {
    transition-duration: .15s
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

.duration-500 {
    transition-duration: .5s
}

.duration-700 {
    transition-duration: .7s
}

.duration-\[0\.4s\] {
    transition-duration: .4s
}

.duration-\[2850ms\] {
    transition-duration: 2.85s
}

.ease-\[cubic-bezier\(0\.25\,0\.8\,0\.49\,1\.0\)\] {
    transition-timing-function: cubic-bezier(.25,.8,.49,1)
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.ease-out {
    transition-timing-function: cubic-bezier(0,0,.2,1)
}

.collapse {
    visibility: unset
}

.form-select {
    padding: 1em 1.23em;
    font-size: .8125rem;
    line-height: 1.4285714286;
    border: var(--tblr-border-width) solid var(--tblr-border-color);
    border-radius: var(--tblr-border-radius)
}

[dir=rtl] .form-select {
    background-position: left .5rem center
}

.\[--editor-bb-h\: 40px\] {
    --editor-bb-h: 40px
}

.\[--editor-tb-h\: 50px\] {
    --editor-tb-h: 50px
}

.\[--sidebar-w\: min\(440px\,90vw\)\] {
    --sidebar-w: min(440px,90vw)
}

.\[--tblr-dropdown-min-width\: 150px\] {
    --tblr-dropdown-min-width: 150px
}

.\[--tblr-progress-height\: 3px\] {
    --tblr-progress-height: 3px
}

.\[backface-visibility\:hidden\] {
    backface-visibility: hidden
}

.\[background\:inherit\] {
    background: inherit
}

.\[direction\:ltr\] {
    direction: ltr
}

.\[word-break\:break-word\] {
    word-break: break-word
}

:root {
    --tw-content: "";
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position:
}

.hover\:text-heading:hover {
    --tw-text-opacity: 1;
    color: rgba(var(--lqd-heading-color-rgb),var(--tw-text-opacity))
}

:is(.theme-dark .dark\:text-heading) {
    --tw-text-opacity: 1;
    color: rgba(var(--lqd-heading-color-rgb),var(--tw-text-opacity))
}

@media not all and (min-width: 576px) {
    .max-sm\:\!text-heading {
        --tw-text-opacity: 1 !important;
        color: rgba(var(--lqd-heading-color-rgb),var(--tw-text-opacity))!important
    }
}

.\[\&\.lqd-is-active\]\:text-heading.lqd-is-active {
    --tw-text-opacity: 1;
    color: rgba(var(--lqd-heading-color-rgb),var(--tw-text-opacity))
}

.placeholder\:text-black::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.placeholder\:text-black::placeholder {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.placeholder\:text-gray-300::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}

.placeholder\:text-gray-300::placeholder {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}

.placeholder\:text-opacity-50::-moz-placeholder {
    --tw-text-opacity: .5
}

.placeholder\:text-opacity-50::placeholder {
    --tw-text-opacity: .5
}

.before\:absolute:before {
    content: var(--tw-content);
    position: absolute
}

.before\:inset-0:before {
    content: var(--tw-content);
    inset: 0px
}

.before\:-inset-x-4:before {
    content: var(--tw-content);
    left: -1rem;
    right: -1rem
}

.before\:-inset-y-2:before {
    content: var(--tw-content);
    top: -.5rem;
    bottom: -.5rem
}

.before\:inset-x-0:before {
    content: var(--tw-content);
    left: 0px;
    right: 0px
}

.before\:-bottom-4:before {
    content: var(--tw-content);
    bottom: -1rem
}

.before\:end-0:before {
    content: var(--tw-content);
    inset-inline-end: 0px
}

.before\:left-0:before {
    content: var(--tw-content);
    left: 0px
}

.before\:top-0:before {
    content: var(--tw-content);
    top: 0px
}

.before\:top-full:before {
    content: var(--tw-content);
    top: 100%
}

.before\:inline-block:before {
    content: var(--tw-content);
    display: inline-block
}

.before\:h-4:before {
    content: var(--tw-content);
    height: 1rem
}

.before\:h-full:before {
    content: var(--tw-content);
    height: 100%
}

.before\:w-full:before {
    content: var(--tw-content);
    width: 100%
}

.before\:scale-75:before {
    content: var(--tw-content);
    --tw-scale-x: .75;
    --tw-scale-y: .75;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes spin-grow {
    0% {
        content: var(--tw-content);
        transform: rotate(0) scale(1)
    }

    to {
        content: var(--tw-content);
        transform: rotate(360deg) scale(3)
    }
}

.before\:animate-spin-grow:before {
    content: var(--tw-content);
    animation: spin-grow 3s ease-in-out infinite alternate
}

.before\:rounded-\[2em\]:before {
    content: var(--tw-content);
    border-radius: 2em
}

.before\:rounded-full:before {
    content: var(--tw-content);
    border-radius: 9999px
}

.before\:rounded-lg:before {
    content: var(--tw-content);
    border-radius: .5rem
}

.before\:bg-\[\#E5E7EB\]:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.before\:bg-current:before {
    content: var(--tw-content);
    background-color: currentColor
}

.before\:bg-gradient-to-r:before {
    content: var(--tw-content);
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.before\:from-\[\#8d65e9\]:before {
    content: var(--tw-content);
    --tw-gradient-from: #8d65e9 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(141 101 233 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.before\:via-\[\#5391e4\]:before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(83 145 228 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #5391e4 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.before\:to-\[\#6bcd94\]:before {
    content: var(--tw-content);
    --tw-gradient-to: #6bcd94 var(--tw-gradient-to-position)
}

.before\:text-current:before {
    content: var(--tw-content);
    color: currentColor
}

.before\:opacity-0:before {
    content: var(--tw-content);
    opacity: 0
}

.before\:transition-all:before {
    content: var(--tw-content);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.before\:transition-opacity:before {
    content: var(--tw-content);
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

/*#navbar-menu > ul > li:nth-child(4), #navbar-menu > ul > li:nth-child(5) {*/
/*    display: none!important;*/
/*}*/

    .navbar .navbar-nav {
    padding-right: 25px!important;
    }
    .tooltip-left2 {
        margin-right: 10px;
    }
    
@media only screen and (max-width: 600px) {
 .hideonmob {
     display:none!important;
 }
}
.bg {
    --tw-bg-opacity: 1;
    background-color: rgb(32 162 153 / 28%)!important;
}
body > div.page > header > div > div.navbar-nav.flex-row.justify-end.max-lg\:basis-\[65\%\] > div > div:nth-child(5) > div > a:nth-child(5), body > div.page > header > div > div.navbar-nav.flex-row.justify-end.max-lg\:basis-\[65\%\] > div > div:nth-child(5) > div > a:nth-child(6) {
    display:none!important;
}
.spinner_button:before {
    background: linear-gradient(to right, #fa690e, #ff7b2c, #ba774c)!important;
}
.page-404 .btn {
    height: 48px;
    background: #fa690e!important;
}

.p-btn-1 {
    padding: 5px;
}