.site-launch.card {
  margin-top: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFF;
  background-clip: border-box;
  border: 1px solid #EFF2F7;
  border-radius: 0.375rem;
}
.site-launch.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.site-launch.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.site-launch.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.375rem - 1px);
  border-top-right-radius: calc(0.375rem - 1px);
}
.site-launch.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.375rem - 1px);
  border-bottom-left-radius: calc(0.375rem - 1px);
}
.site-launch.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
  color: #8492A6;
}
.site-launch.card-title {
  margin-bottom: 1.25rem;
}
.site-launch.card-subtitle {
  margin-top: -0.625rem;
  margin-bottom: 0;
}
.site-launch.card-text:last-child {
  margin-bottom: 0;
}
.site-launch.card-link:hover {
  text-decoration: none;
}
.site-launch.card-link + .card-link {
  margin-left: 1.5rem;
}
.site-launch.card-header {
  padding: 1.25rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid #EFF2F7;
}
.site-launch.card-header:first-child {
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
}
.site-launch.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}
.site-launch.card-footer {
  padding: 1.25rem 1.5rem;
  background-color: transparent;
  border-top: 1px solid #EFF2F7;
}
.site-launch.card-footer:last-child {
  border-radius: 0 0 calc(0.375rem - 1px) calc(0.375rem - 1px);
}
.site-launch.card-header-tabs {
  margin-right: -0.75rem;
  margin-bottom: -1.25rem;
  margin-left: -0.75rem;
  border-bottom: 0;
}
.site-launch.card-header-pills {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.site-launch.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.site-launch.card-img, .site-launch.card-img-top, .site-launch.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}
.site-launch.card-img, .site-launch.card-img-top {
  border-top-left-radius: calc(0.375rem - 1px);
  border-top-right-radius: calc(0.375rem - 1px);
}
.site-launch.card-img, .site-launch.card-img-bottom {
  border-bottom-right-radius: calc(0.375rem - 1px);
  border-bottom-left-radius: calc(0.375rem - 1px);
}
.site-launch.card-deck .card {
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .site-launch.card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  .site-launch.card-deck .card {
    flex: 1 0 0%;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
  }
}
.site-launch.card-group > .card {
  margin-bottom: 10px;
}
.site-launch.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.site-launch.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.site-launch.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}
.site-launch.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
}
.site-launch.breadcrumb-item {
  display: flex;
}
.site-launch.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}
.site-launch.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #E0E6ED;
  content: "/";
}
.site-launch.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.site-launch.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.site-launch.breadcrumb-item.active {
  color: #C0CCDA;
}
.site-launch.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
.site-launch.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
.site-launch.text-justify {
  text-align: justify !important;
}
.site-launch.text-wrap {
  white-space: normal !important;
}
.site-launch.text-nowrap {
  white-space: nowrap !important;
}
.site-launch.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-launch.text-left {
  text-align: left !important;
}
.site-launch.text-right {
  text-align: right !important;
}
.site-launch.text-center {
  text-align: center !important;
}
.site-launch.bg-cover {
  position: relative;
  background-repeat: no-repeat;
}
.site-launch.bg-absolute-cover {
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.site-launch.bg-absolute-cover svg {
  height: 1000px;
  pointer-events: none;
}
.site-launch.alert {
  font-size: 0.875rem;
}
.site-launch.alert strong {
  font-weight: 600;
}
.site-launch.alert hr {
  margin: 0.875rem 0;
}
.site-launch.alert p:last-child {
  margin-bottom: 0;
}
.site-launch.alert-heading {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.15rem;
}
.site-launch.alert-flush {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.site-launch.alert-modern {
  display: inline-block;
  padding: 0.375rem 1rem 0.375rem 0.5rem;
  border-radius: 50rem;
}
.site-launch.alert-modern::after {
  display: inline-block;
  margin-left: 10.2px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 700;
  content: "\F105";
}
.site-launch.alert-modern:empty::after {
  margin-left: 0;
}
.site-launch.alert-modern .badge + .alert-content {
  margin-left: 0.5rem;
}
.site-launch.alert-dark {
  background-color: #273444;
  color: #FFF;
  border: 0;
}
.site-launch.alert-dark .alert-link {
  color: #FFF;
}
.site-launch.alert-dark .close > span:not(.sr-only) {
  color: white;
}
.site-launch.alert-dark .close:hover > span:not(.sr-only), .site-launch.alert-dark .close:focus > span:not(.sr-only) {
  color: #FFF;
}
.site-launch.alert-dark hr {
  border-color: rgba(216, 203, 187, 0.1);
}
.site-launch[class*="alert-outline-"] {
  border-right: 1px solid;
}
.site-launch[class*="alert-outline-"] .alert-group-prepend {
  padding-right: 0.875rem;
}
.site-launch.alert-outline-primary {
  background: transparent;
  color: #284fa2;
  border-color: #c5d6ff;
}
.site-launch.alert-outline-primary hr {
  border-top-color: #dfe8ff;
}
.site-launch.alert-outline-primary .alert-link {
  color: #284fa2;
}
.site-launch.alert-outline-primary .alert-group-prepend {
  border-right: 1px solid #c5d6ff;
}
.site-launch.alert-outline-secondary {
  background: transparent;
  color: #8b939e;
  border-color: #fbfbfd;
}
.site-launch.alert-outline-secondary hr {
  border-top-color: white;
}
.site-launch.alert-outline-secondary .alert-link {
  color: #8b939e;
}
.site-launch.alert-outline-secondary .alert-group-prepend {
  border-right: 1px solid #fbfbfd;
}
.site-launch.alert-outline-success {
  background: transparent;
  color: #2b735f;
  border-color: #c7eadb;
}
.site-launch.alert-outline-success hr {
  border-top-color: #daf1e7;
}
.site-launch.alert-outline-success .alert-link {
  color: #2b735f;
}
.site-launch.alert-outline-success .alert-group-prepend {
  border-right: 1px solid #c7eadb;
}
.site-launch.alert-outline-info {
  background: transparent;
  color: #0f758e;
  border-color: #b8ebf4;
}
.site-launch.alert-outline-info hr {
  border-top-color: #cef1f7;
}
.site-launch.alert-outline-info .alert-link {
  color: #0f758e;
}
.site-launch.alert-outline-info .alert-group-prepend {
  border-right: 1px solid #b8ebf4;
}
.site-launch.alert-outline-warning {
  background: transparent;
  color: #936f1d;
  border-color: #ffe7b8;
}
.site-launch.alert-outline-warning hr {
  border-top-color: #fff0d2;
}
.site-launch.alert-outline-warning .alert-link {
  color: #936f1d;
}
.site-launch.alert-outline-warning .alert-group-prepend {
  border-right: 1px solid #ffe7b8;
}
.site-launch.alert-outline-danger {
  background: transparent;
  color: #934236;
  border-color: #ffd0c5;
}
.site-launch.alert-outline-danger hr {
  border-top-color: #ffe5df;
}
.site-launch.alert-outline-danger .alert-link {
  color: #934236;
}
.site-launch.alert-outline-danger .alert-group-prepend {
  border-right: 1px solid #ffd0c5;
}
.site-launch.alert-outline-light {
  background: transparent;
  color: #8b939e;
  border-color: #fbfbfd;
}
.site-launch.alert-outline-light hr {
  border-top-color: white;
}
.site-launch.alert-outline-light .alert-link {
  color: #8b939e;
}
.site-launch.alert-outline-light .alert-group-prepend {
  border-right: 1px solid #fbfbfd;
}
.site-launch.alert-outline-dark {
  background: transparent;
  color: #233141;
  border-color: #c3c6cb;
}
.site-launch.alert-outline-dark hr {
  border-top-color: #d1d3d7;
}
.site-launch.alert-outline-dark .alert-link {
  color: #233141;
}
.site-launch.alert-outline-dark .alert-group-prepend {
  border-right: 1px solid #c3c6cb;
}
.site-launch.alert-outline-neutral {
  background: transparent;
  color: #939aa2;
  border-color: white;
}
.site-launch.alert-outline-neutral hr {
  border-top-color: white;
}
.site-launch.alert-outline-neutral .alert-link {
  color: #939aa2;
}
.site-launch.alert-outline-neutral .alert-group-prepend {
  border-right: 1px solid white;
}
.site-launch.alert-outline-white {
  background: transparent;
  color: #939aa2;
  border-color: white;
}
.site-launch.alert-outline-white hr {
  border-top-color: white;
}
.site-launch.alert-outline-white .alert-link {
  color: #939aa2;
}
.site-launch.alert-outline-white .alert-group-prepend {
  border-right: 1px solid white;
}
.site-launch.alert-messages:not(:last-child) {
  margin-bottom: 1.25rem;
}
.site-launch.alert-notify {
  display: flex !important;
  max-width: 600px;
  /*width: calc(100% - 30px);*/
  width: calc(25% - 30px);
  padding-right: 80px;
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}
.site-launch.alert-notify:hover {
  z-index: 1081 !important;
}
.site-launch.alert-group {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.site-launch.alert-group .alert-group-prepend {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.site-launch.alert-group .alert-group-prepend, .site-launch.alert-group .alert-content, .site-launch.alert-group .alert-action {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.site-launch.alert-group .alert-action {
  margin-left: auto;
}
.site-launch.alert-group .btn {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.6;
}
.site-launch.alert-group[class*="alert-outline"] .alert-group-prepend {
  margin-right: 0.875rem;
}
.site-launch.alert-group-icon {
  display: inline-block;
  min-width: 26px;
  text-align: center;
}
.site-launch.alert-dismissible .alert-group-prepend {
  display: block;
}
.site-launch.alert-dismissible .close {
  top: 50%;
  right: 0.875rem;
  transform: translateY(-50%);
  padding: 0;
}
.site-launch.avatar {
  position: relative;
  color: #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 600;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 0.25rem;
}
.site-launch.avatar img {
  width: 100%;
  border-radius: 0.25rem;
}
.site-launch.avatar.rounded-circle img {
  border-radius: 50%;
}
.site-launch.avatar span {
  background-color: #6fd943;
}
.site-launch.avatar + .avatar {
  margin-left: 0.25rem;
}
.site-launch.avatar + .avatar-content {
  display: inline-block;
  margin-left: 0.75rem;
}
.site-launch.avatar-xl {
  width: 6rem;
  height: 6rem;
  font-size: 1.375rem;
}
.site-launch.avatar-lg {
  width: 4rem;
  height: 4rem;
  font-size: 1.25rem;
}
.site-launch.avatar-sm {
  width: 2.4375rem;
  height: 2.4375rem;
  font-size: 0.75rem;
  border-radius: 0.2rem;
}
.site-launch.avatar-group {
  display: inline-block;
  line-height: 1;
}
.site-launch.avatar-group .avatar {
  z-index: 1;
  transition: margin 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .site-launch.avatar-group .avatar {
    transition: none;
  }
}
.site-launch.avatar-group .avatar img {
  border: 2px solid #FFF;
  height: 100%;
  width: 100%;
}
.site-launch.avatar-group .avatar:hover {
  z-index: 2;
}
.site-launch.avatar-group .avatar + .avatar {
  margin-left: -1.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.site-launch.avatar-group .avatar-sm + .avatar-sm {
  margin-left: -1rem;
}
.site-launch.avatar-group:hover .avatar {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.site-launch.avatar-group:hover .avatar-sm {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.site-launch.hover-avatar-ungroup:hover .avatar:not(:first-child) {
  margin-left: 0;
}
.site-launch.avatar-parent-child {
  display: inline-block;
  position: relative;
}
.site-launch.avatar-child {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 2px solid #FFF;
  border-radius: 0.2rem;
}
.site-launch.avatar.rounded-circle + .avatar-child {
  border-radius: 50%;
}
.site-launch.card-deck + .row {
  margin-top: 20px;
}
.site-launch.card-wrapper .card:last-child {
  margin-bottom: 0 !important;
}
.site-launch.card-img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  border-radius: 0.375rem;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease;
}
@media (prefers-reduced-motion: reduce) {
  .site-launch.card-img-bg {
    transition: none;
  }
}
.site-launch.card-img-bg ~ .card-body {
  position: relative;
}
.site-launch.card:hover .card-img-bg {
  transform: scale(1.1);
}
.site-launch.card .card-image, .site-launch.card .animate-this, .site-launch.card > a {
  min-height: 1px;
}
.site-launch.card-group .card .mask {
  border-radius: 0;
}
.site-launch.card-columns-2 {
  -moz-column-count: 2 !important;
  column-count: 2 !important;
}
@media (min-width: 992px) {
  .site-launch.card-columns-3 {
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }
}
@media (max-width: 1199.98px) {
  .site-launch.card-columns-3 {
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }
}
@media (max-width: 767.98px) {
  .site-launch.card-columns-3 {
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}
@media (min-width: 992px) {
  .site-launch.card-columns-4 {
    -moz-column-count: 4 !important;
    column-count: 4 !important;
  }
}
.site-launch.card-translucent-dark {
  background: rgba(255, 255, 255, 0.2);
}
.site-launch.card-translucent-light {
  background: rgba(0, 0, 0, 0.2);
}
.site-launch.card-comment-box {
  width: 100%;
}
.site-launch.card-comment-box input, .site-launch.card-comment-box textarea {
  font-size: 0.875rem;
  border: 0;
  box-shadow: none;
  background: transparent;
  padding: 0.3125rem 0;
  margin: 0;
  color: #3C4858;
  outline: none;
  resize: none;
}
.site-launch.card-comment-box input:focus, .site-launch.card-comment-box textarea:focus {
  background: transparent;
  box-shadow: none;
}
.site-launch.card-profile .card-profile-image {
  width: 7rem;
  height: 7rem;
  border: 0.1875rem solid #FFF;
  transform: translateY(-50%);
}
.site-launch.card-profile .card-profile-image:hover {
  transform: scale(1.1) translateY(-50%);
}
.site-launch.card-profile .card-body {
  position: relative;
  z-index: 2;
  margin-top: -3.5rem;
}
.site-launch.card-profile-cover {
  max-height: 300px;
  overflow: hidden;
}
.site-launch.card-pricing .card-header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.site-launch.card-pricing .list-unstyled li {
  padding: 0.5rem 0;
}
.site-launch.card-pricing.popular {
  z-index: 1;
}
.site-launch.card-pricing.scale-110 {
  border-radius: 0.375rem !important;
}
@media (max-width: 991.98px) {
  .site-launch.card-pricing.scale-110 {
    transform: scale(1) !important;
  }
}
.site-launch.card-product {
  overflow: hidden;
}
.site-launch.card-product .card-image {
  padding: 1.5rem;
}
.site-launch.card-product .card-image img {
  transform: scale(1);
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}
@media (prefers-reduced-motion: reduce) {
  .site-launch.card-product .card-image img {
    transition: none;
  }
}
.site-launch.card-product:hover .card-image img {
  transform: scale(1.1);
}
.site-launch.card-product .card-title {
  font-size: 1rem;
  font-weight: 600;
}
.site-launch.card-product .card-price {
  font-size: 1rem;
  font-weight: 600;
  display: block;
}
.site-launch.card-product .product-colors a {
  display: inline-block;
  float: none !important;
  width: 1rem;
  height: 1rem;
  margin-right: 3px;
  margin-bottom: 0;
  border-radius: 50%;
  transition: all 0.2s ease;
}
@media (prefers-reduced-motion: reduce) {
  .site-launch.card-product .product-colors a {
    transition: none;
  }
}
.site-launch.card-product .product-colors a:hover {
  transform: scale(1.1);
}
.site-launch.card-product .card-product-actions {
  opacity: 0;
  width: 80px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.site-launch.card-product .card-product-actions.in {
  opacity: 1;
}
.site-launch.card-product .card-product-actions.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.site-launch.card-product .card-product-actions .action-item {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.site-launch.card-browser {
  background-color: #273444;
  position: relative;
}
.site-launch.card-browser:before {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(40deg, transparent 0%, #273444 100%);
  content: "";
  border-radius: 6px;
  will-change: transform;
}
.site-launch.card-browser .card-header {
  position: relative;
  background-color: rgba(58, 77, 100, 0.8);
  border: 0;
}
.site-launch.card-browser .card-header .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.site-launch.card-browser .card-body {
  min-height: 300px;
  position: relative;
  overflow-x: hidden;
}
.site-launch.card-browser .card-body pre {
  color: #FFF;
  margin: 0;
}
.site-launch.card-overlay .card-img-overlay {
  color: #FFF;
}
.site-launch.card-overlay .card-footer {
  background-color: #FFF;
  border: 0;
}
.site-launch.card-hover-overlay {
  overflow: hidden;
}
.site-launch.card-hover-overlay .card-img-overlay {
  opacity: 0;
  background-color: rgba(39, 52, 68, 0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.35s;
}
.site-launch.countdown-blocks .countdown-digit {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #6fd943;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  border-radius: 0.25rem;
  cursor: default;
}
.site-launch.countdown-blocks .countdown-label {
  display: block;
  margin-top: 5px;
  text-align: center;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 600;
}
.site-launch.countdown-blocks .countdown-separator {
  display: none;
}
.site-launch.milestone-count-extra {
  display: none;
}
.site-launch.counting-finished + .counter-extra {
  display: inline-block;
}
.site-launch.draggable-item {
  cursor: -webkit-grab;
  cursor: grab;
}
.site-launch.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  transform: translate3d(-4px, -4px, 0) rotateZ(2deg);
  cursor: -webkit-grabbing;
  cursor: grabbing;
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}
.site-launch.gu-hide {
  display: none !important;
}
.site-launch.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.site-launch.gu-transit {
  opacity: 0.1;
}
.site-launch.quick-view-container {
  background: rgba(10, 10, 10, 0.85);
}
.site-launch.quick-view-content {
  bottom: 0;
  height: calc(100% - 40px);
  left: 0;
  margin: auto;
  max-height: 650px;
  max-width: 980px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 40px);
}
.site-launch.quick-view-carousel {
  background: #FFF;
  border: 1px solid #EFF2F7;
  border-radius: 0.375rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 57%;
  z-index: 10;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
}
.site-launch.quick-view-carousel .fancybox-stage {
  bottom: 30px;
}
.site-launch.quick-view-aside {
  background: #FFF;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  bottom: 2rem;
  color: #8492A6;
  left: auto;
  padding: 3rem 0 2rem 0;
  position: absolute;
  right: 0;
  top: 2rem;
  width: 43%;
}
.site-launch.quick-view-aside > div {
  height: 100%;
  overflow: auto;
  padding: 0 2rem;
}
.site-launch.quick-view-close {
  background: #f0f0f0;
  border: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  color: #222;
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  height: 44px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -99999px;
  top: 2rem;
  transition: all 0.2s;
  width: 2.75rem;
}
.site-launch.quick-view-close:hover {
  background: #e4e4e4;
}
.site-launch.quick-view-close:before, .site-launch.quick-view-close:after {
  background-color: #222;
  content: '';
  height: 18px;
  left: 22px;
  position: absolute;
  top: 12px;
  width: 1px;
}
.site-launch.quick-view-close:before {
  transform: rotate(-45deg);
}
.site-launch.quick-view-close:after {
  transform: rotate(45deg);
}
.site-launch.quick-view-bullets {
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
  width: 100%;
  z-index: 99999;
}
.site-launch.quick-view-bullets li {
  display: inline-block;
  vertical-align: top;
}
.site-launch.quick-view-bullets li a {
  display: block;
  height: 30px;
  position: relative;
  width: 20px;
}
.site-launch.quick-view-bullets li a span {
  background: #D3DCE6;
  border-radius: 99px;
  height: 10px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-indent: -99999px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}